
/**
 * Author = babak yousefian
 */

@charset "utf-8";
/* CSS by bistScript.ir  */
@font-face {
	font-family: yekanbakh;
	src: url("../fonts/yekan.ttf");
}
*
{
	font-family: yekanbakh;
	font-weight: bold;
}
a{text-decoration: none;font-size: 14px!important;}
a:hover{text-decoration: none}
body{
	background:url(../img/bg.png) repeat-x;
	margin:0px;
	padding:0px;
	direction:rtl
}
p,li,ul{
	margin:0px;
	padding:0px
}
div.cls{
	clear:both
}
#tooltip{
	position:absolute;
	background:#000;
	padding:5px 5px;
	color:#fff;
	display:none;
	-webkit-box-shadow:0 0 8px #444;
	-moz-box-shadow:0 0 8px #444;
	box-shadow:0 0 8px #444;
}
#message{
	display: block;
	display: none;
	z-index: 999;
	width:100%;
	position: fixed;
	background-color: #333;
	border-bottom:1px solid #000;
	-webkit-box-shadow:0 0 5px #000;
	-moz-box-shadow:0 0 5px #000;
	-o-box-shadow:0 0 5px #000;
	box-shadow:0 0 5px #000;
}
div.massage_box{
	margin:0px auto;
	width:948px;
	color:#fff;
	padding:6px;
}
#message a{
	text-decoration:none;
	color:#fff
}
div.loading{
	position:absolute;
	position:fixed;
	z-index:5;
	margin:0px auto;
	width:100%;
	height:100%;
	background:url(../img/bgload.png);
}
div.loading p{
	margin:0px auto;
	margin-top:230px;
	width:230px;
	padding:8px;
	text-align:center;
	background:url(../img/bg_load.jpg) #FFF;
	border:2px solid #bbb;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:0 0 5px #ccc;
	-moz-box-shadow:0 0 5px #ccc;
	-o-box-shadow:0 0 5px #ccc;
	box-shadow:0 0 5px #ccc;
	font:8pt/2 Tahoma, Geneva, sans-serif;
}
/* ---------------------- header ------------------------ */
div.header{
	position:relative;
	margin:0px auto;
	background:url(../img/header.jpg);
	width:1000px;
	height:119px;
}
div.header div.logo{
	position:absolute;
	width:125px;
	height:41px;
	top:15px;
	right:20px;
}
div.header ul.ico_top{
	position:absolute;
	top:24px;
	left:20px;
}
div.header ul.ico_top li{
	position:relative;
	cursor:pointer;
	float:right;
	list-style:none;
	margin-left:2px;
	background:url(../img/ico_top.png);
	width:60px;
	height:49px
}
div.header ul.ico_top li:hover{
	background-position:bottom
}
div.header ul.ico_top li img{
	position:absolute;
	top:8px;
	right:15px;
}
div.header div.link_bar{
	position:absolute;
	top:89px;
	right:30px
}
div.header div.link_bar a{
	color:#eee;
	text-decoration:none;
	text-shadow:0px 1px #000;
}
div.header div.search{
	position:absolute;
	left:36px;
	top:90px;
}
div.header div.search input{
	font:8pt Tahoma, Geneva, sans-serif;
	background:none;
	text-align:right;
	direction:rtl;
	text-shadow:0px 1px #ccc;
	border:none;
	width:180px;
}
div.header div.search_submit{
	position:absolute;
	left:223px;
	top:85px;
}
div.header div.search_submit button{
	background:none;
	border:none;
	width:30px;
	height:24px;
	cursor:pointer;
}
/* ---------------------- box1 ------------------------ */
div#slide1,div#slide2{
	display:none
}
div.body_box{
	margin:0px auto;
	width:1000px;
}
div.body_box div.body_box_bg{
	margin-right:17px;
	background:#fff;
	width:960px;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}
div.box_left{
	background:#eee;
	float:left;
	width:710px;
}
div.box_left ul.news_list{
	margin-right:4px;
	margin-top:4px;
	background:url(../img/news_box.png);
	width:701px;
	height:63px
}
div.box_left ul.news_list li{
	margin-top:5px;
	width:50px;
	height:50px;
	float:left;
	list-style:none;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-o-transition: .3s linear;
}
div.box_left ul.news_list li:hover{
	background:#FFF;
	opacity:0.3;
}
 ul.news_list li.i6{
	 margin-left:6px;
 }
  ul.news_list li.i5{
	 margin-left:5px;
 }
  ul.news_list li.i4{
	 margin-left:4px;
 }
  ul.news_list li.i3{
	 margin-left:3px;
 }
div.top_box_news{
	background:#FFF;
	margin:4px;
	padding:3px;
	font:8pt/1.7 Tahoma, Geneva, sans-serif;
	direction:rtl;
}
div.top_box_news div.top_box_news_right{

	padding:2px;
	width:420px;
	height:130px;
	float:right;
	overflow:hidden;
}
div.top_box_news div.top_box_news_right a{
	text-decoration:none;
	color:#666130;
	font:16px/2 "Times New Roman", Times, serif;
	font-weight:bold
}
div.top_box_news div.top_box_news_right img{
	float:right;
	padding:2px;
	margin:8px;
	border:1px solid #CCC
}
div.top_box_news div.top_box_news_left{
	position:relative;
	overflow:hidden;
	margin-right:4px;
	background:url(../img/bg_news_top.jpg) #eee;
	padding:2px;
	width:264px;
	height:130px;
	float:right;
}
div.top_box_news div.top_box_news_left P{
	position:absolute;
	left:4px;
	top:4px;
	padding:2px;
	background:#80bf70;
	color:#fff
}
div.top_box_news div.top_box_news_left ul.top_news{
	position:absolute;
	top:30px;
	left:4px;
	right:2px;
}
div.top_box_news div.top_box_news_left ul.top_news li{
	list-style:none;
	background-color:#eee;
	border-right:2px solid #fff;
	margin:2px;
	padding:2px;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-o-transition: .3s linear;
}
div.top_box_news div.top_box_news_left ul.top_news li a{
	color:#333;
	text-decoration:none
}
div.top_box_news div.top_box_news_left ul.top_news li:hover{
	background:#FFF;
}
div.box_right{
	margin-left:3px;
	width:244px;
	float:left;
	background:#eee
}
div.box_right div.title_more{
	position:relative;
	margin-top:4px;
	background:url(../img/img_01.jpg);
	width:243px;
	height:23px;
}
div.box_right div.title_more b{
	position:absolute;
	right:30px;
	top:3px;
	color:#FFF;
	text-shadow:0px 1px #999;
}
div.box_right div.title_more0{
	position:relative;
	margin-top:4px;
	width:243px;
	height:23px;
}
div.box_right div.title_more0 b{
	position:absolute;
	right:30px;
	top:3px;
	color:#FFF;
	text-shadow:0px 1px #999;
}
div.box_right ul.box_news_i li{
	height:60px;
	overflow:hidden;
	list-style:none;
	border-right:3px solid #ccc;
	padding:3px;
	margin:2px;
	background:#FFF;
	-webkit-transition: .3s linear;
	-moz-transition: .3s linear;
	-o-transition: .3s linear;
}
div.box_right ul.box_news_i li img{
	float:right;
	padding:2px;
	border:1px solid #999;
	margin:5px;
}
div.box_right ul.box_news_i li:hover{
	border-right:3px solid #666;
	background:none;
}
div.pad{
	 padding:3px;
	 font:8pt/1.7 Tahoma, Geneva, sans-serif;
}
div.body_text{
	margin-right:4px;
	margin-left:4px
}
div.body_text div.ads{
	background:#FFF;
	width:134px;
	float:left;
	padding:3px;
}
div.body_text div.linkdoni{
	background:#FFF;
	width:190px;
	float:left;
	padding:3px;
	margin-left:3px;
}
div.body_text div.linkdoni div.title_linkdoni{
	position:relative;
	background:url(../img/title-link2.jpg);
	width:190px;
	height:38px;
}
div.body_text div.linkdoni div.title_linkdoni b{
	position:absolute;
	top:5px;
	right:30px;
	color:#FFF
}
div.body_text div.linkdoni ul.link_box2 li{
	list-style: inside url(../img/li-3.jpg);
	font:8pt/1.8 Tahoma, Geneva, sans-serif;
}
div.body_text div.linkdoni ul.link_box2 li:hover{
	list-style: inside url(../img/li-4.jpg)
}
div.body_text div.linkdoni ul.link_box2 li a{
	color:#5a92a9;
	text-decoration:none
}
div.body_text div.linkdoni ul.link_box2 li a:hover{
	color:#c91d1d;
	text-decoration:none;
	text-shadow:0 0 5px #e7b0b0;
}
div.postbox{
	background:#FFF;
	width:354px;
	float:left;
	padding:3px;
	margin-left:3px;
}
ul.link_box1{
	background:#f7f7f7;
	padding:3px;
}
ul.link_box1 li{
	list-style:inside url(../img/li-1.jpg)
}
ul.link_box1 li:hover{
	list-style:inside url(../img/li-2.jpg)
}
ul.link_box1 li a{
	font:8pt/1.8 Tahoma, Geneva, sans-serif;
	text-decoration:none;
	color:#333
}
ul.link_box1 li a:hover{
	color:#579a45
}
/* post */
div.shortstory{
	border-bottom:1px double #CCC;
	font:8pt/1.7 Tahoma, Geneva, sans-serif;
	direction:rtl
}
div.shortstory b a{
	font:16px "Times New Roman", Times, serif;
	font-weight:bold;
	color:#1809a6;
	text-decoration:none
}
div.shortstory b a:hover{
	color:#c91d1d
}
div.shortstory img{
	float:right;
	border:1px solid #CCC;
	padding:2px;
	margin:4px;
}
ul.pageNav li{
    display:block;
    floaT: right;
    padding: 3px;
	font:8pt Tahoma, Geneva, sans-serif;
}

ul.pageNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
	background: red;
        background: #83bd63;
}

ul.pageNav li.currentPage a {
	color: #fff;
}

/* ---------------------------- */
div.footer{
	border-top:1px solid #FFF;
	background:url(../img/bg_footer.jpg);
	width:100%;
	height:62px;
}
div.footer div.footer_bg{
	position:relative;
	background:url(../img/footer.jpg);
	width:1000px;
	height:62px;
	margin:0px auto;
}
div.footer div.footer_bg p{
	position:absolute;
	right:30px;
	top:10px;
	color:#FFF;
	font:8pt/2 Tahoma, Geneva, sans-serif;
	direction:rtl;
	text-shadow:0px 1px #467598
}
.form
{
	width: 40%;
	height: auto;
	margin: 5% auto;
	border: 1px solid #c1c4c1;

}
.form_input_title
{
	width: 90%;
	line-height: 20px;
	margin: 10px auto;
}
.form_input
{
	width: 90%;
	height: 40px;
	margin: 10px 5%;
}
.form_file
{
	width: 90%;
	height: 40px;
	margin: 10px 5%;
	border: 1px solid #757775;
	background: #FFFFFF;
}
.form_text
{
	width: 90%;
	height: 150px;
	margin: 10px 5%;
	border: 1px solid #757775;
	background: #FFFFFF;
}
.form_btn
{
	width: 90%;
	height: 40px;
	margin: 10px 5%;
	background: yellowgreen;
	border: none;
}
.error_msg
{
	width: 90%;
	line-height: 20px;
	background: red;
	color: #fff;
	margin: 0 5%;
}
.form_error_message
{
	width: 90%;
	line-height: 40px;
	background: pink;
	border: 1px solid red;
	color: #000000;
	margin: 20px auto;
	text-align: center;
}
.form_success_message
{
	width: 90%;
	line-height: 40px;
	background: #4ae134;
	border: 1px solid green;
	color: #000000;
	margin: 20px auto;
	text-align: center;
}
.right_panel
{
	width: 25%;
	height: 100%;
	float: right;
	border-left: 1px solid #a9aca9;
	box-sizing: border-box;
}
.left_panel
{
	width: 75%;
	height: 100%;
	float: left;
}
.right_panel_top
{
	width: 100%;
	line-height: 40px;
	text-align: center;
	border-bottom: 1px solid #a9aca9;
}
.right_panel_center
{
	width: 100%;
	height: 160px;
	border-bottom: 1px solid #a9aca9;
}
.profile>img
{
	width: 100%;
	height: 100%;
}
.right_panel_bottom
{
	width: 100%;
	height: 420px;
}
.right_panel_bottom>ul
{
	padding: 0;
	list-style: none;
}
.right_panel_bottom>ul>li>a
{
	display: block;
	width: 100%;
	line-height: 45px;
	border-bottom: 1px solid #a9aca9;
	box-sizing: border-box;
}
.right_panel_bottom>ul>li>a:hover
{
	background: #FFFFFF;
	color: red;
}
.right_panel_bottom>ul>li:hover
{
	background: #FFFFFF;
	color: red;
}
.right_panel_bottom>ul>li>ul>li>a
{
	display: block;
	width: 100%;
	line-height: 45px;
	text-decoration: none;
	border-bottom: 1px solid #a9aca9;
}
.left_panel_top
{
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #a9aca9;
	line-height: 40px;
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.left_panel_bottom
{
	width: 100%;
	height: 580px;
}
.profile
{
	width: 120px;
	height: 120px;
	margin: 20px 30%;
	float: right;
}
.panel_left_main
{
	width: 95%;
	height: auto;
	background: white;
	border: 1px solid #a9aca9;
	margin: 10px auto;

}
.more_all
{
	width: 100%;
	height: auto;
	background: #e4f0e0;
}
.more_title
{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.more_image
{
	width: 100%;
	height: 500px;
}
.more_image>img
{
	width: 100%;
	height: 100%;
}
.more_description
{
	width: 100%;
	height: auto;
	line-height: 40px;
}
.more_details_part
{
	width: 33%;
	line-height: 40px;
	display: inline-block;
}
.editor
{
    background-color: #1a202c;
    width: 100%;
    height: auto;
    line-height: 40px;
    border: 1px solid #a9aca9;
    margin: 10px auto;
}
